#expenseForm {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.mainContent {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#expenseFormSubmit {
    margin-top: 2rem;
}

body.dark {
    background-color: black;
    color: white;
}

.featureContainer {
    position: absolute;
    right: 0;
    top: 0;
}